.item {
  @apply w-[250px] relative bg-card-background p-4 rounded-lg cursor-pointer flex flex-col justify-between;
  aspect-ratio: 16/10;
  transition: all 0.2s ease;

  background: #187663;
  background: linear-gradient(45deg, #187663, #0b666a);
  &:hover {
    -webkit-box-shadow: 0px 4px 12px -2px rgba(27, 66, 66, 1);
    -moz-box-shadow: 0px 4px 12px -2px rgba(27, 66, 66, 1);
    box-shadow: 0px 4px 12px -2px rgba(27, 66, 66, 1);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1);
  }
  .more {
    @apply absolute right-4 top-2 cursor-pointer;

    &:active {
      transform: scale(0.9);
    }
  }

  .title {
    @apply text-xl font-semibold text-start transition-all;

    &:hover {
      text-decoration: underline;
    }
  }

  .items-count {
    @apply text-sm text-text text-start font-semibold;
  }
}
