.container {
  .header {
    margin: 0 auto;
    @apply flex gap-5 items-start max-w-[1200px] mt-5 flex-col;

    .icon-back {
      @apply text-icons transition-all;

      &:hover {
        transform: scale(1.09);
      }
      &:active {
        transform: scale(1);
      }
    }
    h2 {
      @apply text-start text-2xl;
    }
  }

  .utils {
    .icon {
      @apply text-icons cursor-pointer transition-all;

      &:active {
        transform: scale(1.08);
      }
    }
  }

  .body {
    margin: 0 auto;
    @apply max-w-[1200px];
  }
}
