.container {
  @apply w-full relative min-h-[40px] bg-bg mb-3 rounded-md grid place-items-center grid-cols-2 px-6 py-1;

  .icon {
    position: absolute;
    top: 5px;
    left: 5px;
    @apply size-5 cursor-pointer transition-all rounded-sm;

    &:hover {
      @apply bg-bg2;
    }
  }

  .letter,
  .translation,
  .transcription {
    @apply text-center text-[17px];
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .letter {
    p {
    }
  }

  &:hover {
    .icons {
      opacity: 1;
      visibility: visible;
    }
  }
}

.edit {
  @apply grid-cols-3;
}
