.container {
  @apply w-full relative min-h-[44px] bg-bg mb-3 rounded-md grid grid-cols-2 px-2 py-1;

  .icons {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
  }

  .letter,
  .translation {
    @apply text-center text-lg;
  }

  .translation {
  }

  &:hover {
    .icons {
      opacity: 1;
      visibility: visible;
    }
  }
}
