.content {
  @apply rounded-md px-[3px] py-[4px] bg-sage;

  .item {
    @apply transition-all text-background flex justify-between items-center px-1;
    span {
      @apply flex items-center;
    }

    .icon {
      @apply mr-1;
    }

    &:hover {
      opacity: 0.8;
    }

    .hot-key {
      @apply text-[12px];
    }
  }
}

.content[data-state='open'] {
  animation: slideDown 0.2s ease;
}
.content[data-state='closed'] {
  animation: slideUp 0.2s ease;
}

@keyframes slideDown {
  from {
    opacity: 10%;
    transform: translateY(-1rem);
  }
}

@keyframes slideUp {
  to {
    opacity: 10%;
    transform: translateY(-1rem);
  }
}
