.container {
  margin: 0 auto;
  @apply max-w-[1300px];
  .icon-back {
    @apply text-icons transition-all;

    &:hover {
      transform: scale(1.09);
    }
    &:active {
      transform: scale(1);
    }
  }

  .body {
    @apply mt-20;
    .tower-stats {
      @apply w-[400px] h-[380px] bg-modals rounded-2xl  grid grid-cols-2 place-items-center;

      .tower {
        @apply w-[70px] rounded-lg bg-bg-tower h-[250px] relative;

        .info {
          @apply text-base  w-[130px];
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .progress {
          @apply w-full;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
}
